bodyHome {
    font-family: 'Roboto Mono', monospace;
}

.imagen-background {
    width: 100vw;      
    height: auto;   
    display: block;     
    border: 5px solid red;  
    background-color: yellow;
    opacity: 0.8;     
}

.redText{
    color: red;
}

@keyframes spin-slow {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

.spin-slow {
    animation: spin-slow 4s linear infinite;
}